h1 {
    color:red;
    text-align: center;
}   

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
}

div#calculator {
    width: 400px;
    height: 500x;
    margin: 0 auto;
}

div.display {
    border: 3px solid black;
    border-radius: 0.4rem;
    height: 5em;
    margin: 5px auto;
}

.display > div {
    text-align: right;
    padding: 10px;
}

.display .math {
    height: 30%;
    font-size: 1em;
}

.display .input {
    height: 70%;
    font-size: 2em;
}

div.buttons {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: 2px;
}


div.row {
    margin: 0;
    padding: 0;
    border: 0;

    flex: 1;

    display:flex;
    gap: 3px;
}


button {
    border: 3px transparent solid;
    border-radius: 0.4rem;
    font-size: 25px;

    background-color: rgb(112, 112, 112);
    color: white;
    transition: background 0.05s ease-in;

    flex: 1;
}

button.digit-effect {
    background-color: rgb(65, 65, 65);
}

button.equal-effect {
    background-color: rgb(112, 112, 112);
}

button.fnc-effect {
    background-color: #02a6f1d2;
}

.operator,
.backspace {
    background-color: rgb(65, 65, 65);
}

.clear {
    background-color: #9b3131;
}

.equal {
    background-color: #00aeff;
    color: black;
}

